<!-- Vertical dot navigation -->
<div class="vNav">
    <ul class="vNav">
        <li>
            <a href="#intro" class="active">
                <div class= "node">Intro</div>
            </a>
        </li>
        <li>
            <a href="#about-me">
                <div class= "node">About</div>
            </a>
        </li>
        <li>
            <a href="#projects">
                <div class= "node">Projects</div>
            </a>
        </li>
        <li>
            <a href="#blog">
                <div class= "node">Blog</div>
            </a>
        </li>
    </ul>
</div>

<!-- Intro section -->
<section id = "intro">
    <div class="container container-fluid" id="title">The Ethereal Past</div>
    <img src="../img/home/diamond_star.svg" class="shine" id ="dStar1"/>
    <img src="../img/home/diamond_star.svg" class="shine" id ="dStar2"/>
    <img src="../img/home/diamond_star.svg" class="shine" id ="dStar3"/>
    <img src="../img/home/star.svg" class="spin" id ="star1"/>
    <img src="../img/home/star.svg" class="spin" id ="star2"/>
    <img src="../img/home/star.svg" class="spin" id ="star3"/>
    <img src="../img/home/moon.svg" class="spin" id ="moon1"/>
    <img src="../img/home/moon.svg" class="spin" id ="moon2"/>
    <div class="parallax-layer clouds clouds1" data-parallax-speed="0.05" data-max-scroll="500" data-direction="y">
        <img src="../img/home/dark_cloud_dark.svg" class="cloud" id ="ddCloud1"/>
        <img src="../img/home/dark_cloud_dark.svg" class="cloud" id ="ddCloud2"/>
        <img src="../img/home/dark_cloud_dark.svg" class="cloud" id ="ddCloud3"/>
        <img src="../img/home/dark_cloud_dark.svg" class="cloud" id ="ddCloud4"/>
    </div>
    <div class="parallax-layer clouds clouds2" data-parallax-speed="0.35" data-max-scroll="500" data-direction="y">
        <img src="../img/home/light_cloud_dark.svg" class="cloud" id ="ldCloud1"/>
        <img src="../img/home/light_cloud_dark.svg" class="cloud" id ="ldCloud2"/>
        <img src="../img/home/light_cloud_dark.svg" class="cloud" id ="ldCloud3"/>
    </div>
    <div class="parallax-layer clouds clouds3" data-parallax-speed="0.25" data-max-scroll="500" data-direction="y">
        <img src="../img/home/dark_cloud_light.svg" class="cloud" id ="dlCloud1"/>
        <img src="../img/home/dark_cloud_light.svg" class="cloud" id ="dlCloud2"/>
        <img src="../img/home/dark_cloud_light.svg" class="cloud" id ="dlCloud3"/>
        <img src="../img/home/dark_cloud_light.svg" class="cloud" id ="dlCloud4"/>
        <img src="../img/home/dark_cloud_light.svg" class="cloud" id ="dlCloud5"/>
    </div>
    <div class="parallax-layer clouds clouds4" data-parallax-speed="0.75" data-max-scroll="500" data-direction="y">
        <img src="../img/home/light_cloud_light.svg" class="cloud" id ="llCloud1"/>
        <img src="../img/home/light_cloud_light.svg" class="cloud" id ="llCloud2"/>
    </div>
    <div class="parallax-layer clouds clouds5" data-parallax-speed="0.55" data-max-scroll="500" data-direction="y">
        <img src="../img/home/light_cloud_light.svg" class="cloud" id ="llCloud3"/>
        <img src="../img/home/light_cloud_light.svg" class="cloud" id ="llCloud4"/>
        <img src="../img/home/light_cloud_light.svg" class="cloud" id ="llCloud5"/>
    </div>
</section>


<!-- About me section -->
<section id = "about-me">
    <div class="section-title" id="about-flag">About</div>
    <div>
        <img src="../img/home/berkeley.svg" class="description" id ="berkeley"/>
        <img src="../img/home/cs.svg" class="description" id ="cs"/>
        <img src="../img/home/2019.svg" class="description" id ="c2019"/>
        <img src="../img/home/programmer.svg" class="description" id ="programmer"/>
        <img src="../img/home/translator.svg" class="description" id ="translator"/>
        <img src="../img/home/artist.svg" class="description" id ="artist"/>
    </div>

    <img src="../img/home/mountains.svg" class="back" id ="mountains"/>
    <img src="../img/home/platform.svg" class="back" id ="platform"/>
    <img src="../img/home/name.svg" class="back" id ="name"/>
    <div id="pic">
        <img src="../img/home/shadow.png" class="shadow" id ="shadowOne"/>
        <img src="../img/home/shadow.png" class="shadow" id ="shadowTwo"/>
        <img src="../img/home/me.png" class="shadow" id ="myPic"/>
    </div>
    <img src="../img/home/diamond_star.svg" class="shine" id ="aDStar1"/>
    <img src="../img/home/diamond_star.svg" class="shine" id ="aDStar2"/>
    <img src="../img/home/projects_stripes.svg" id ="stripes"/>
    <div class="parallax-layer wave wave1" data-parallax-speed="0.3" data-max-scroll="3000" data-direction="x">
        <img src="../img/home/dark_waves.svg" class="vibrate" id ="dWave"/>
    </div>
    <div class="parallax-layer wave wave2" data-parallax-speed="0.6" data-max-scroll="3000" data-direction="x">
        <img src="../img/home/light_waves.svg" class="vibrate" id ="lWave"/>
    </div>

</section>

<!-- Projects section -->
<section id = "projects">
    <div class="section-title">Projects</div>
    <img src="../img/home/star.svg" class="spin" id ="star11"/>
    <img src="../img/home/star.svg" class="spin" id ="star12"/>
    <img src="../img/home/star.svg" class="spin" id ="star13"/>
    <img src="../img/home/star.svg" class="spin" id ="star14"/>
    <img src="../img/home/star.svg" class="spin" id ="star15"/>
    <img src="../img/home/star.svg" class="spin" id ="star16"/>
    <img src="../img/home/star.svg" class="spin" id ="star17"/>
    <!-- <div class= "carousel-container">
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/enigma.jpg" />
            </div>
            <div class="project-content">
                <div class= "project-name">The Enigma</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A Java program which simulates the Enigma machine used by the Germans in WWII. It creates a machine from a given configuration file, then encrypts a given input message.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/airPollutionGlobe.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Air Pollution Globe</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A globe that visualizes the concentration of air pollutants in urban areas across the world. Data obtained from WHO’s May 2016 database.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/ataxx.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Ataxx</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A 2-player checker-like Java game that can be played manually or automatically.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/cubePuzzle.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Cube Puzzle</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A Java game in which you try to color all faces of a cube, given a white cube on a 4x4 puzzle with 6 tiles colored. As the cube rolls across the tiles, its face swaps color with the tile that it touches.
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content"id="carousel-prev">
            <img src="assets/img/roundedTriangle.svg" />
        </div>
        <div class="project-content"id="carousel-next">
            <img src="assets/img/roundedTriangle.svg" />
        </div>
    </div> -->
</section>

<!-- Blog section -->
<section id = "blog">
    <div class="section-title">Blog</div>
    <!-- <div class="translation-container">
        <img src="assets/img/translations.svg" id ="translationsBubble"/>
        <div class ="tButtons">
            <a href="http://spica3.blogspot.com/" title="To be updated soon!">
                <div class= "section-shortcut" id="jpop">JPop</div>
            </a>
            <a href="http://spica3.blogspot.com/" title="To be updated soon!">
                <div class= "section-shortcut" id="vocaloid">Vocaloid</div>
            </a>
        </div>
    </div> -->
</section>