---
layout: default
---
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script src="../js/chart.js"></script>

<div class="container-fluid summary">
  <h2>Projects</h2>
  {{content}}
</div>

<div class="container-fluid main"><div class="chart">
  {% for proj in site.data.csProjects %}
    {% if proj.Show == 'true' %}
        <div class="chart-item {{proj.ImgSize}}">
          <img src="{{proj.Img}}">
          <div class="chart-item-overlay">
            <div class="chart-item-text">
                <div class="chart-item-title">{{proj.Name}}</div>
                <div class="chart-item-hook">{{proj.Hook}}</div>
            </div>
          </div>
        </div>
    {% endif %}
 {% endfor %}
</div></div>
