<!-- About me section -->
<section id = "about-me">
    <!-- <div id="leftSide"></div>
    <img src="assets/img/aboutMe.svg" id ="me"/>
    <img src="assets/img/star.png" class="stars" id ="starSix"/>
    <img src="assets/img/star.png" class="stars" id ="starSeven"/>
    <img src="assets/img/star.png" class="stars" id ="starEight"/>
    <img src="assets/img/smallMoon.png" class="stars" id ="moonOne"/>
    <img src="assets/img/smallMoon.png" class="stars" id ="moonTwo"/>
    <div id="pic">
        <img src="assets/img/shadow.png" class="shadow" id ="shadowOne"/>
        <img src="assets/img/shadow.png" class="shadow" id ="shadowTwo"/>
        <img src="assets/img/me.png" class="shadow" id ="myPic"/>
    </div> -->
</section>