<!-- Intro section -->
<section id = "intro">
    <div class="section-container">
        <h2>The Ethereal Past</h2>
    </div>
    <img src="../img/diamond_star.svg" class="dstar" id ="dStar1"/>
    <img src="../img/diamond_star.svg" class="dstar" id ="dStar2"/>
    <img src="../img/diamond_star.svg" class="dstar" id ="dStar3"/>
    <img src="../img/star.svg" class="star" id ="star1"/>
    <img src="../img/star.svg" class="star" id ="star2"/>
    <img src="../img/star.svg" class="star" id ="star3"/>
    <img src="../img/star.svg" class="star" id ="star4"/>
    <img src="../img/moon.svg" class="moon" id ="moon1"/>
    <img src="../img/moon.svg" class="moon" id ="moon2"/>
</section>