<!-- Blog section -->
<section id = "blog">
    <!-- <div class="translation-container">
        <img src="assets/img/translations.svg" id ="translationsBubble"/>
        <div class ="tButtons">
            <a href="http://spica3.blogspot.com/" title="To be updated soon!">
                <div class= "section-shortcut" id="jpop">JPop</div>
            </a>
            <a href="http://spica3.blogspot.com/" title="To be updated soon!">
                <div class= "section-shortcut" id="vocaloid">Vocaloid</div>
            </a>
        </div>
    </div> -->
</section>