<!-- Projects section -->
<section id = "projects">
    <!-- <div class= "carousel-container">
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/enigma.jpg" />
            </div>
            <div class="project-content">
                <div class= "project-name">The Enigma</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A Java program which simulates the Enigma machine used by the Germans in WWII. It creates a machine from a given configuration file, then encrypts a given input message.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/airPollutionGlobe.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Air Pollution Globe</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A globe that visualizes the concentration of air pollutants in urban areas across the world. Data obtained from WHO’s May 2016 database.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/ataxx.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Ataxx</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A 2-player checker-like Java game that can be played manually or automatically.
                    </div>
                </div>
            </div>
        </div>
        <div class = "carousel-item fade">
            <div class = "project-picture">
                <img src="assets/img/cubePuzzle.png" />
            </div>
            <div class="project-content">
                <div class= "project-name">Cube Puzzle</div>
                <div class= "project-desc-box">
                    <div class="project-desc">
                        A Java game in which you try to color all faces of a cube, given a white cube on a 4x4 puzzle with 6 tiles colored. As the cube rolls across the tiles, its face swaps color with the tile that it touches.
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content"id="carousel-prev">
            <img src="assets/img/roundedTriangle.svg" />
        </div>
        <div class="project-content"id="carousel-next">
            <img src="assets/img/roundedTriangle.svg" />
        </div>
    </div> -->
</section>