<!-- Vertical dot navigation -->
<div class="vNav">
    <ul class="vNav">
        <li>
            <a href="#intro">
                <div class= "label">Intro</div>
            </a>
        </li>
        <li>
            <a href="#about-me">
                <div class= "label">About</div>
            </a>
        </li>
        <li>
            <a href="#projects">
                <div class= "label">Projects</div>
            </a>
        </li>
        <li>
            <a href="#blog">
                <div class= "label">Blog</div>
            </a>
        </li>
    </ul>
</div>